.signup-page{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100vh;

    background-color: black;
    font-family:'Poppins', Times, serif;
}
.left-logo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;

    background-color: #18181b;
}
.logo-box{
    background-color: #01b954;
}
.logo-name{
    padding: 0px 10px;
    
    font-weight: 800;
    font-size: 56px;
    color: white;
}
.right-signup-container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;

    background-color: #ffffff;
}
.signup-container{
    display: flex;
    flex-direction: column;

    position: relative;

    width: 500px;

    padding: 80px;

    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    background-color: rgb(228, 228, 228);
}
.back-link{
    position: absolute;

    top: 16px;
    right: 16px;

    text-decoration: none;
    color: gray;
}
.signup-text{
    width: 100%;

    font-size: 64px;
}
.sub-text{
    width: 100%;

    font-size: 18px;

    margin-bottom: 20px;
}
.label-input{
    display: flex;
    flex-direction: column;

    align-items: center;
}
.label-input label, .label-input input{
    width: 100%;
    height: 40px;

    font-size: 28px;
}
.signup-btn{
    align-self: center;

    width: 100%;

    border: none;
    border-radius: 8px;
    
    padding: 10px;
    margin-top: 12px;

    font-size: 20px;

    background-color: #01b954;
    color: white;
}
.login-link{
    text-align: center;
    margin-top: 20px;
}
.login-link a{
    text-decoration: none;

    color: rgb(0, 128, 255);
}